.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 16px;
  }
}
