.place__paragraph {
  grid-area: paragraph;
  margin: 0 0 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  max-width: 484px;
}
.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 440px;
  }
}
@media screen and (max-width: 600px) {
  .place__paragraph {
    margin-left: 24px;
  }
}

@media screen and (max-width: 389px) {
  .place__paragraph {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
    /* min-width: calc(100% - 2 * 16px); */
  }
}
