.cover {
  margin: 0 auto;
  padding: 0;
  min-width: calc(100% - 2 * 48px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-width: 100%;
  }
}
