.intro__title {
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  max-width: 690px;
  text-rendering: optimizeLegibility;
  /* box-sizing: border-box;
  object-fit: contain;
  width: 100%; */
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
    min-width: 221px;
  }
}
